$headerHeightFull: 30vh;
$headerHeightMobile: 84px;
$headerPaddingFull: 15px;
$headerPaddingMobile: 5px;
$headerGapFull: 20px;
$headerGapMobile: 10px;
$navMenuHeightFull: 21px;
$navMenuHeightMobile: 23px;
